{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col mb-3">
				<h1>Inscrivez-vous ! ♥</h1>

			{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.pseudo) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn btn-primary btn-lg my-3">S'inscrire</button>
                <a href="{{path('app_login')}}" > Deja inscrit ? Connectez-vous !</a>
			{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>

{% endblock %}
