{% extends 'base.html.twig' %}

{% block title %}Fiche de la serie :  {% endblock %}

{% block body %}

{% block stylesheets %}
    {# <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}"> #}
    <style>
        body {background-color: #E8E6E6}

        .container { width: 1060px; justify-content: center; margin-top: 5%; margin-left: auto; margin-right: auto; position: relative; display: block; border:1px}
        .a {display: inline-block; text-decoration: none; font-size: 16px;}
        .card { width: 400px; background-color: white; border: 10px; border-radius: 12px; padding-top:5%; padding-left: 3%; padding-right: 3%}
        .button {display: inline-block;}
        .btn1 { background-color: #E49BB7; border-radius: 12px;  border: 10px; color: white; padding: 10px 32px;    margin: 4px 2px; -webkit-transition-duration: 0.4s; /* Safari */ transition-duration: 0.4s; cursor: pointer; }
    </style>
{% endblock %}

    <div class="container d-flex">
        <div class="card">
            <h1> Titre : {{ series.titre }} </h1>
            <p> Titre original : {{ series.titreOriginal }} </h2>
            {# <img src="{{ asset('images/' ~ series.image) }}"> #}
            <p> Episode : {{ series.episode }}</p>
            <p> Durée épisode : {{ series.dureeEp }}</p>
            <p> Status : {{ series.status }}</p>
            <p> Type: {{ series.typeSerie.nom }} </p>
            {# <p> Genre: {{ series.genres }} </p> #}
            <p> Genre: {% for genre in series.genres %}
                    {{ genre }}
                {% endfor %} </p>
            <p> Année de sortie : {{ series.dateSortie }}</p>
            <p> Pays d'origine : {{ series.paysOrigine }}</p>
            <p> Description: {{ series.description }}</p>
            
            <a href="{{ path('list_add', {'id': series.id})}}" type="submit"  class="btn1">ajouter à la liste</a>
            <a href="{{ path('edit_serie', {'id': series.id})}}" type="submit"  class="btn1">edit</a>
        </div>
    </div>
    

{% endblock %}
