{% extends 'base.html.twig' %}

{% block title %}Fiche de la serie :  {% endblock %}

{% block body %}

    <h1> Titre : {{ series.titre }} </h1>
    <h2> Titre original : {{ series.titreOriginal }} </h2>
    <p> Episode : {{ series.episode }}</p>
    <p> Durée épisode : {{ series.dureeEp }}</p>
    <p> Status : {{ series.status }}</p>
    <p> Type: {{ series.typeSerie.nom }} </p>
    {# <p> Genre: {{ series.genres }} </p> #}
    <p> Genre: {% for genre in series.genres %}
               {{ genre }}
           {% endfor %} </p>
    <p> Année de sortie : {{ series.dateSortie }}</p>
    <p> Pays d'origine : {{ series.paysOrigine }}</p>
    <a href="{{ path('list_add', {'id': series.id})}}" type="submit" class="btn btn-primary btn-lg my-3">ajouter à la liste</a>

{% endblock %}
