{% extends 'base.html.twig' %}

{% block title %}Mettre à jour le statut d'une série
{% endblock %}

{% block body %}

	{% block stylesheets %}
		{# <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}"> #}
		<style>
			body {
				background-color: #E8E6E6
			}

			.container {
				width: 1060px;
				justify-content: center;
				margin-top: 5%;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				display: block;
				border: 1px
			}
			.a {
				display: inline-block;
				text-decoration: none;
				font-size: 16px;
			}
			.card {
				width: 600px;
				background-color: white;
				border: 10px;
				border-radius: 12px;
				padding-top: 5%;
				padding-left: 3%;
				padding-right: 3%
			}
			.button {
				display: inline-block;
			}
			.btn1 {
				background-color: #E49BB7;
				border-radius: 12px;
				border: 10px;
				color: white;
				padding: 10px 32px;
				margin: 4px 2px;
				-webkit-transition-duration: 0.4s; /* Safari */
				transition-duration: 0.4s;
				cursor: pointer;
			}
		</style>
	{% endblock %}

	<div class="container d-flex">
		<div class="card">
			<h1>Votre status pour
				{{ status.serie.titre }}</h1>

			{% if form_errors(form) %}
				<div class="alert alert-danger">
					{{ form_errors(form) }}
				</div>
			{% endif %}

			<form method="post">
				{{ form_start(form) }}

				<div class="form-group">
					{{ form_label(form.nomStatus) }}
					{{ form_widget(form.nomStatus, { 'attr': {'class': 'form-control'} }) }}
				</div>
                <br>
				<div class="form-group">
					{{ form_label(form.nbEpisodeUser) }}
					{{ form_widget(form.nbEpisodeUser, { 'attr': {'class': 'form-control'} }) }}
				</div>

				{{ form_widget(form._token) }}

				<br><button type="submit" class="btn1">Mettre à jour</button>

				{{ form_end(form) }}
			</div>
		</div>
	{% endblock %}
